.top_con{
	background-color: #e4f9f5;
	position:relative;
	padding-top: 100px;
}
body{
	margin :0;
	text-align: center;
	font-family: 'Merriweather', serif;
}
h1{
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 5.64rem;
	color:#66BFBF;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color:#66BFBF;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#11999E;
}
hr{
	border: dotted 6px lightgrey ;
	border-bottom: none;
	width:5%;
	margin:100px auto;
}
.skill-row{
	width:50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;

}
.con{
	width:40%;
	margin:auto;
	padding-bottom: 40px;
}
.c{
	width:25%;
	float:left;
	padding-right: 30px;
	padding-top: 20px;
}
.d{
	width:25%;
	float:right;
	padding-left: 30px;
}
.program{
	font-weight: normal;
}
.btn{
	color:#11999E;
}
.footer-link{
	color:#11999E;
}
.circular{
	border-radius: 100%;
	
}
.bottom_cloud{
	position:absolute;
	left:300px;
	bottom:300px;
}
.top_cloud{
	position:absolute;
	right:300px;
	top:50px;
}

.middle_con{
	margin: 100px 0;
}
.bottom_con{
	background-color: #66BFBF;
	padding-bottom: 40px;
	margin-top: 60px;
	padding-top: 50px;
	line-height: 2;
}
.web{
	text-decoration: underline;
}
.last{
	color:white;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3cb;
  background-image: -webkit-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3cb, #2bc4ad);
  text-decoration: none;
}
a{
	margin:20px 20px;
	text-decoration: none;
}
a:hover{
	color:#EAF6F6;
}